<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Book no.</th>
      <th>Characters involved</th>
      <th>Location</th>
      <th>Lore</th>
    </tr>
  </thead>
  <tbody>
    {{#each lores}}
      <tr>
        <td>
          {{bookno}}
        </td>
        <td>
          {{charactersinv}}
        </td>
        <td>
            {{location}}
        </td>
        <td>
          {{lore}}
        </td>
        <td>
          <a href="/nation/{{../nation._id}}/deletelore/{{_id}}" class="delete-lore-icon" onclick="return confirm('Are you sure?');">
              <span class="icon is-small">
                <i class="fas fa-trash"></i>
            </span>
         </td>
      </tr>
    {{/each}}
  </tbody>
</table>
